# Spring Boot
target/
*.jar
*.war
*.ear
/build/
!gradle/wrapper/gradle-wrapper.jar
.mvn/
mvnw
mvnw.cmd

# STS/Eclipse
.project
.classpath
.settings/
.springBeans
.idea/
*.iml

# Logs
*.log

# Temporary files
*.tmp
*.bak
*.swp
*~.nib
